@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<h3 class="display-4">به چت روم خوش آمدید!</h3>
	<br />
	<a class="btn btn-primary col-4" asp-area="Identity" asp-page="/Account/Login" role="button">ورود</a>
	<a class="btn btn-primary col-4" asp-area="Identity" asp-page="/Account/Register" role="button">ثبتنام</a>
</div>
